It appears that <em><%= user %></em> does not have a Chorechart account.

<div class="alert-actions">
  <%= link_to "Care to invite them?", new_group_invitation_path(group), :class => 'btn small' %>
</div>
