@page { size: landscape; }
header, .pagination, .crud-links, #sidebar, footer { display: none; }

body {
  background-color: transparent;
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
  color: #000; 
}

table, th, td { border: 1px solid #000; page-break-inside: avoid; }
table tr * { padding: 10px; }

a:after, a:link:after  { 
  color: #000;
  background-color:transparent; 
  content: " * Link " attr(href) "* ";
}

a:visited:after {
  color:#000; 
  background-color:transparent;
  content: " * Link " attr(href) "* ";
}

#chore-breakdown { width: 511pt; }
