<div class="span3"><div class="breadcrumb">
  <%= link_to "&times;".html_safe, authentication, :confirm => 'Are you sure you want to remove this linked account?', :method => :delete, :class => "close" %>
  <div class="pull-left">
    <span class="icon <%= authentication.provider %>"></span>
  </div>
  <div class="provider"><%= authentication %></div>
  <span class="help-block"><%= authentication.uid %></span>
  <div class="clearer"></div>
</div></div>
