<% providers ||= [] %>
<div class="auth_providers">
  <% if !providers.include?('twitter') %>
    <a href="/auth/twitter" class="auth_provider">
      <%= image_tag 'services/twitter_64.png', :size => '64x64', :alt => 'Twitter' %>
    </a>  
  <% end %>
  <% if !providers.include?('facebook') %>
    <a href="/auth/facebook" class="auth_provider">  
      <%= image_tag 'services/facebook_64.png', :size => '64x64', :alt => 'Facebook' %>
    </a>  
  <% end %>
  <% if !providers.include?('github') %>        
    <a href="/auth/github" class="auth_provider">  
      <%= image_tag 'services/github_64.png', :size => '64x64', :alt => 'Github' %>
    </a>  
  <% end %>
  <% if !providers.include?('google_oauth2') %>        
    <a href="/auth/google_oauth2" class="auth_provider">  
      <%= image_tag 'services/google_oauth2_64.png', :size => '64x64', :alt => 'Google' %>
    </a>  
  <% end %>
  <div class="clearer"></div>
</div>
