<div class="crud-links pull-right" data-dropdown="crud-dropdown">
  <ul class="tabs">
    <li class="crud-dropdown">
      <a href="#" class="dropdown-toggle">Manage</a>
      <ul class="dropdown-menu">
        <li><a href="javascript:window.print();">Print</a></li>
        <% if can? :edit, group %>
          <li><%= link_to 'Edit Group', edit_group_path(group) %></li>
        <% end %>
        <% if can? :destroy, group %>
          <li><%= link_to 'Delete Group', group_path(group), :method => :delete, :confirm => "Are you sure you want to delete #{group}?" %></li>
        <% end %>
        <li class="divider"></li>
        <% if can? :edit, group %>
          <li><%= link_to 'Manage Chores', group_chores_path(group) %></li>
        <% end %>
        <% if can? :invite, group %>
          <li><%= link_to 'Manage Users', group_memberships_path(group) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
