<%= f.text_field :name, :help => 'Ex: Home, Office, etc.' %>
        
<div class="actions">
  <button class="btn primary" type="submit"><%= f.object.new_record? ? "Create group" : "Save" %></button>
	<%= link_to "Cancel", @group, :class => "btn" %>
</div>
