<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <% if can? :edit, group %>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <% end %>
    <% if can? :destroy, group %>
      <td><%= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a group', new_group_path %>
