<div class="block">
  <div class="content">
    <div class="inner">
      <h2 class="title"><%= @group.name %></h2>
      <table>
        <% @group.get_chores_for_week.each do |date, assignments| %>
          <tr>
            <td><%= date %></td>
            <td><ul>
              <% assignments.each do |assignment| %>
                <li><%= assignment.chore.name %></li>
              <% end %>
            </ul></td>
          </tr>
        <% end %>
      </table>
      <% if can? :update, @group %>
        <div class="wat-cf">
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_group_path(@group), :class => "button" %> 
        </div>
      <% end %>
    </div>
  </div>
</div>
