<div class="block">
  <div id="user-dashboard-page" class="content">
    <div class="inner">

      <h2 class="title">Dashboard</h2>

      <div class="pane">
        <h3 class="title">Today in...</h3>
        <% @user.groups.each do |group| %>
          <div class="column">
            <h4><%= group %></h4>
            <ul>
              <% group.assignments_for(Date.today).each do |assignment| %>
                <li><%= assignment.chore %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
