<div class="block">
  <div id="user-dashboard-page" class="content">
    <div class="inner">

      <h2 class="title">Dashboard</h2>

      <div class="content">
        <p>Coming soon...</p>
      </div>
    </div>
  </div>
</div>
