<div class="block">
  <div id="user-dashboard-page" class="content">
    <div class="inner">

      <h2 class="title">Dashboard</h2>

      <div class="pane">
        <h3 class="title">Groups</h3>
        <table class="table">
          <% @user.groups.take(5).each do |group| %>
            <tr>
              <td><%= link_to group.name, group %></td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
