<ul class="nav">
  <% current_user.groups.take(3).each do |group| %>
    <%= active_list_link group, group %>
  <% end %>

  <% if current_user.groups.count > 4 %>
    <li class="groups-dropdown">
      <a href="#" class="dropdown-toggle">More...</a>
      <ul class="dropdown-menu">
        <% current_user.groups[3..-1].each do |group| %>
          <%= active_list_link group, group %>
        <% end %>
        <li class="divider"></li>
        <%= active_list_link 'Manage Groups...', groups_path %>
      </ul>
    </li>
  <% else %>
    <%= active_list_link 'Manage Groups...', groups_path %>
  <% end %>
</ul>
