<footer>
  <div class="container">
    <p class="pull-right"><a href="#">&uarr; Back to top</a></p>
    <p>
      Copyright &copy; <%= Time.now.year %> <a class="external" href="http://theunraveler.com">theunraveler</a> |
      <a href="mailto:jake@theunraveler.com">Feedback</a>
    </p>
  </div>
</footer>
