<%= label %>
<div class="input">
  <%= field %>
  <% unless errors.empty? %>
    <%= render 'shared/form_errors', :errors => errors %>
  <% end %>
  <% if options[:help] %>
    <span class="help-block"><%= options[:help] %></span>
  <% end %>
</div>
