<table id="pricing-grid" class="zebra-striped" style="text-align: center;">
  <thead>
    <tr>
      <th></th>
      <th><h4>Free<small>for the casual user</small></h4></th>
      <th><h4>Pro<small>just $3 per month<br></small></h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Groups<small>Subtitle</small></td>
      <td>1</td>
      <td>unlimited</td>
    </tr>
    <tr>
      <td>Daily Emails<small>Be reminded of your chores daily by email</small></td>
      <td><%= image_tag 'icons/no.png' %></td>
      <td><%= image_tag 'icons/yes.png'%></td>
    </tr>
    <tr>
      <td>A warm, fuzzy feeling inside</td>
      <td><%= image_tag 'icons/no.png' %></td>
      <td><%= image_tag 'icons/yes.png'%></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td><a href="#" class="btn primary">Sign Up</a></td>
    </tr>
  </tfoot>
</table>
