<header class="navbar navbar-inverse" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Chorechart</a>
      <% if user_signed_in? %>
        <nav id="main-navigation">
          <%= render 'shared/app_nav' %>
        </nav>
        <nav id="user-navigation">
          <%= render 'shared/user_nav' %>
        </nav>
      <% else %>
        <nav id="main-navigation">
          <%= render 'shared/static_nav' %>
        </nav>
        <nav id="user-navigation" class="nav-collapse">
          <%= render 'shared/anon_nav' %>
        </nav>
      <% end %>
    </div>
  </div>
</header>
