<div id="my-chores" class="well">
  <h3>Your Chores</h3>
  <% (Date.current..Date.current.advance(:days => 4)).each do |date| %>
    <div class="nav nav-list chore-day">
      <div class="nav-header"><%= fuzzy_date(date) %></div>
        <ul>
          <% if !chores.has_key?(date) || chores[date].empty? %>
            <li><em>Nothing! Enjoy your day off!</em></li>
          <% else %>
            <% chores[date].each do |assignment| %>
              <li><%= assignment.chore %> <span class="label"><%= link_to assignment.group, assignment.group %></span></li>
            <% end %>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>
