<div id="my-chores" class="block">
  <h3>Your Chores</h3>
  <% (Time.current.to_date..Time.current.to_date.advance(:days => 4)).each do |date| %>
    <div class="page-header"><p><%= fuzzy_date(date) %></p></div>
    <% if !@user_chores.has_key?(date) || @user_chores[date].empty? %>
      <p class="help-inline"><em>Nothing! Enjoy your day off!</em></p>
    <% else %>
      <ul>
        <% @user_chores[date].each do |assignment| %>
          <li><%= assignment.chore %> <span class="label"><%= link_to assignment.chore.group, assignment.chore.group %></span></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
