<div id="my-chores" class="block">
  <h3>Your Chores</h3>
  <% assignments = current_user.assignments_for(Date.today, Date.today.advance(:days => 4)).group_by(&:date).sort %>
  <% (Date.today..Date.today.advance(:days => 4)).each do |date| %>
    <div class="page-header"><p><%= fuzzy_date(date) %></p></div>
    <% if !assignments.has_key?(date) || assignments.empty? %>
      <span class="empty-chore-message">Nothing! Enjoy your day off!</span>
    <% else %>
      <ul>
        <% assignments.each do |assignment| %>
          <li><%= assignment.chore %> <span class="label"><%= link_to assignment.chore.group, assignment.chore.group %></span></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
