<section class="feature">
  <div class="page-header">
    <h1>Today's chores at a glance</h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_thumb_tag 'marketing/dashboard.png', :title => 'The user dashboard, showing the today\'s chores for all your groups.' %>
    </div>
    <div class="span12">
      <p>The main page of Chorechart provides a bird's eye view of your chores for the day.</p>
    </div>
  </div>
</section>

<section id="feature-evenly" class="feature">
  <div class="page-header">
    <h1>Even things out</h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_thumb_tag 'marketing/group.png', :title => 'A group\'s chores, listed by week' %>
    </div>
    <div class="span12">
      <p>Chorechart splits up your group's chores evenly among members. Each chore can also be assigned a "difficulty" to ensure that easier chores are not weighted the same as more difficult or time-consuming ones.</p>
    </div>
  </div>
</section>

<section class="feature">
  <div class="page-header">
    <h1>Five-day forecast</h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_thumb_tag 'marketing/group.png', :title => 'A group\'s chores, listed by week' %>
    </div>
    <div class="span12">
      <p>Without the silly weatherman.</p>
    </div>
  </div>
</section>
