<div id="features-listing">
  <div class="row">
    <div class="span4 pull-left">
      <%= image_thumb_tag 'marketing/dashboard.png', :title => 'The user dashboard, showing the today\'s chores for all your groups.' %>
    </div>
    <div class="span12">
      <h4>Today's chores at a glance</h4>
    </div>
  </div>

  <div class="row">
    <div class="span4 pull-left">
      <%= image_thumb_tag 'marketing/group.png', :title => 'A group\'s chores, listed by week' %>
    </div>
    <div class="span12">
      <h4>Chores automatically divided evenly among group members</h4>
    </div>
  </div>
</div>
