<section class="feature">
  <div class="page-header">
    <h1>Today's chores at a glance</h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_thumb_tag 'marketing/dashboard.png', :title => 'The user dashboard, showing the today\'s chores for all your groups.' %>
    </div>
    <div class="span12">
      <p>Stuff</p>
    </div>
  </div>
</section>

<section class="feature">
  <div class="page-header">
    <h1>Chores automatically divided evenly among group members</h1>
  </div>
  <div class="row">
    <div class="span12">
      <p>Stuff</p>
    </div>
    <div class="span4">
      <%= image_thumb_tag 'marketing/group.png', :title => 'A group\'s chores, listed by week' %>
    </div>
  </div>
</section>

<section class="feature">
  <div class="page-header">
    <h1>
      Five-day forecast
      <small>(without the cheesy weatherman)</small>
    </h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_thumb_tag 'marketing/group.png', :title => 'A group\'s chores, listed by week' %>
    </div>
    <div class="span12">
      <p>Stuff</p>
    </div>
  </div>
</section>
