<div class="hero-unit">
  <h1>Get your shit in order</h1>
  <p>Chorechart is not a silly little chore chart to keep kids on top of their chores (though it could be used for that, I guess). Rather, Chorechart is a sophisticated chore manager for groups of adults to manage collective responsibilities.</p>
  <p><%= link_to "Register Now!", new_user_registration_path, :class => 'btn btn-primary btn-large' %></p>
</div>
