<div class="hero-unit">
  <h1>Ready to get your shit in order?</h1>
  <p><%= Rails.application.config.app_name %> is not a silly little chore chart to keep kids on top of their chores (though it could be used for that, I guess). Rather, <%= Rails.application.config.app_name %> is a sophisticated chore manager for groups of adults to manage collective responsibilities.</p>
  <p><%= link_to "Register Now!", new_user_registration_path, :class => 'btn primary large' %></p>
</div>

<p><dl>
  <dt><%= Rails.application.config.app_name %> is perfect for</dt>
  <dd><ul>
    <li>Housemates</li>
    <li>Collective workspaces (coworking)</li>
    <li>...and many others!</li>
  </ul></dd>
</dl></p>
