<div class="block">
  <div class="content">
    <div class="inner">
      <h2 class="title">Welcome to Chorechart!</h2>
      <p>Chorechart is a collaborative chore list for adults.</p>
      <p><%= link_to "Register Now!", new_user_registration_path %></p>
    </div>
  </div>
</div>
