/*
*= require twitter/bootstrap
*= require jquery_ui/aristo
*= require_self
*= require_tree .
*/

.clearer { clear: both; }

html { overflow-y: auto; }
body { padding-top: 80px; }
th small { color: #BFBFBF; }
.inputs-list label { display: inline; padding-left: 8px; }

.topbar { position: absolute; }
.topbar a.brand:hover { text-decoration: none; }
.secondary-nav .user-thumb { padding-right: 7px; }
.secondary-nav.no-user-menu { margin: 8px 8px 0 0; color: #909090; }
.secondary-nav.no-user-menu a { display: inline; }

.page-header .pull-right { margin-top: 5px; }
.crud-links .tabs { border: none; }
.crud-links .tabs img { padding-top: 10px; }
.crud-links .tabs > li > a { 
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crud-links .tabs > li.open > a { 
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.crud-links .tabs > li.open > a:hover { color: #808080; }

.pagination.pull-left { margin-top: 0; }
#chore-breakdown .user-thumb { padding-right: 10px; padding-top: 2px; }

#group-memberships .invitation td { font-style: italic; color: #808080; }
#my-chores .label a { color: #FFFFFF; }

/* Override bootstrap's borderless tables. */
table {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th + th, table td + td, table th + td {
  border-left: 1px solid #ddd;
}
table thead tr:first-child th:first-child, table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table thead tr:first-child th:last-child, table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
