/*
*= require twitter/bootstrap
*= require_self
*= require_tree .
*/

.clearer { clear: both; }

html { overflow-y: auto; }
body { padding-top: 80px; }
th small { color: #BFBFBF; }
.inputs-list label { display: inline; padding-left: 8px; }

.topbar { position: absolute; }
.topbar a.brand:hover { text-decoration: none; }
.secondary-nav .user-thumb { padding-right: 7px; }
.secondary-nav.no-user-menu { margin: 8px 8px 0 0; color: #909090; }
.secondary-nav.no-user-menu a { display: inline; }

.page-header .pull-right { margin-top: 5px; }
.crud-links .tabs { border: none; }
.crud-links .tabs > li > a { 
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crud-links .tabs > li.open > a { 
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.crud-links .tabs > li.open > a:hover { color: #808080; }

.pagination.pull-left { margin-top: 0; }
#chore-breakdown .user-thumb { padding-right: 10px; padding-top: 2px; }

#group-memberships .invitation td { font-style: italic; color: #808080; }
#my-chores .label a { color: #FFFFFF; }
