/*
*= require_self
*/

header, footer, #sidebar, .group-actions { display: none; }

tr { page-break-inside: avoid; border-bottom: 1px solid #000; }
.print { display: block; }
.no-print { display: none; }
