<div class="page-header">            
  <h1><%= t("web-app-theme.new", :default => "New")%> Chore for <%= @chore.group %></h1>
</div>

<%= form_for @chore, :url => group_chores_path do |f| -%>
  <%= render 'form', :f => f %>
<% end -%>
