.clearer { clear: both; }

.columns .column { width: 48%; }
.column.left { float: left; }
.column.right { float: right; }
/* Override here any style defined by web-app-theme */
header {
  height: 60px;
  background-color: #333333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
}
header h1 {
  padding: 15px 5px;
  float: left;
  font-size: 40px;
  font-style: normal;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
  color: white;
}
header h1 a:link, header h1 a:active, header h1 a:hover, header h1 a:visited {
  color: white;
}

header {
  padding: 0 20px;
}

header {
  position: relative;
  padding-top: 1px;  
}

header h1 {
  margin: 0;
  padding: 14px 0;  
  font-size: 26px;
}

header h1 a:link, header h1 a:active, header h1 a:hover, header h1 a:visited {
  text-decoration: none;
}

#user-navigation {
  position: relative;
  top: 0; right: 0; 
  float: right;
  margin-top: 10px;
}
#user-navigation .user-image { float: left; }
#user-navigation .user-menu { float: right; padding: 4px 0 0 8px; }
#user-navigation ul li { padding: 0 5px 0 0; }
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: underline;
  font-size: 80%;
}

#flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px;
  color: #222;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
#flash .message p {
  margin: 8px;
}
#flash .error, .flash .error-list {
  border: 1px solid #FBB;
  background: #FDD url("images/messages/error.png") no-repeat 10px center;
}
#flash .warning {
  border: 1px solid ##FFFAAA;
  background: #FFC url("images/messages/warning.png") no-repeat 10px center;
}
#flash .notice {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #1FDF00;
  background: #BBFFB6 url("images/messages/notice.png") no-repeat 10px center;
}
#flash .error-list {
  text-align: left;
}
#flash .error-list h2 {
  font-size: 16px;
  text-align: center;
}
#flash .error-list ul {
  padding-left: 22px;
  line-height: 18px;
  list-style-type: square;
  margin-bottom: 15px;
}

#group-chores-page h2 {
  float: left;
}

#chore-breakdown .user-thumb {
  float: left;
  padding-right: 5px; 
}

.content .pagination {
  float: right;
  width: 271px;
  margin: 15px; 
}
.pagination span.disabled {
  color: #999;
}

.block#my-chores .empty-chore-message {
  font-style: italic;
  padding-left: 20px;
}
.block#my-chores ul {
  padding-left: 20px;
}
.block#my-chores ul li {
  background-image: none;
  list-style-type: disc;
  border-bottom: none;
}
.block#my-chores ul li a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  margin: 0;
  border-bottom: 1px dashed #777;
}

#authentications-page a {
  text-decoration: none;
}
.authentications {
  margin-bottom: 30px;
}
.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}
.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.authentication img {
  float: left;
  margin-right: 10px;
}
.authentication .provider {
  font-weight: bold;
}
.authentication .uid {
  color: #666;
  font-size: 11px;
}
.auth_provider img {
  display: block;
}
.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#difficulty-slider { width: 400px; }
